html {
  font-size: 16px;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding-bottom: 90px;
    font-size: 1rem;      /* equals html font-size */
    line-height: 1.6;
    /*color: #eee;*/
    /*background: #111;*/
}

header {
    font-size: 1rem;
}

header, footer {
    background: #f0f0f0;
    padding: 1rem;
}

main {
    padding: 1rem;
}

footer small {
    color: #666;
}


#audio-controls {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 12px env(safe-area-inset-bottom);
  background: #111;
  border-top: 1px solid #333;

  z-index: 1000;
}

#audio-controls button {
  flex: 1;
  margin: 0 6px;

  height: 56px;
  font-size: 22px;

  background: #222;
  color: white;
  border: none;
  border-radius: 12px;

  touch-action: manipulation;
}

#audio-controls button:active {
  background: #333;
}
