{% extends "base.html" %}

{% block content %}

<h2>Listen to '{{ title }}'</h2>

  <p>Book is split into sections for faster audio file generation.</p>
    <ul>
    {% for s in sections %}
        <li>
        Section {{ s.index }} ("{{ s.starting_text }}...")
        —
	<br>
        {% if s.file_present %}
	        <audio controls>
		<source src="{{ url_for('static',
			filename=s.file_location) }}"
			type="audio/mpeg">
	        </audio>
        {% else %}
		<form action="/generate" method="post">
		<input type="hidden" name="book_url" value="{{ book_url }}">
		<input type="hidden" name="section_num" value="{{ s.index }}">
		<input type="hidden" name="title" value="{{ title }}">
		<input type="hidden" name="authors" value="{{ authors }}">
		<button type="submit"
			onclick="this.disabled=true; this.innerText='Generating…'; this.form.submit();">
			Generate audio for Section {{ s.index }}
		</button>
		</form>
	{% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}

